<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Hail the Queen</title>

  <style>
    body {
      background-color: #f9f9f9;
      color: #2a2825;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
    }

    #logo {
      cursor: pointer;
    }

    #logo:hover {
      box-shadow: 0 4px 15px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
    }

    #logo:active {
      box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
    }

    .content {
      width: 300px;
      margin: 50px auto;
    }
  </style>
</head>

<body>
  <div class="content">
    <img src="images/logo.png" alt="Big Ben" width="100%" height="auto" id="logo">
    <h1 id="counter">
      <%= count %>
    </h1>
  </div>

  <script>
    function play() {
      var audio = document.getElementById('audio');
      audio.play();
    }

    var counter = document.getElementById('counter');
    var logo = document.getElementById('logo');

    logo.addEventListener("click", function(e) {
      var request = new XMLHttpRequest();
      request.addEventListener('load', function(progressEvent) {
        var newCount = JSON.parse(progressEvent.currentTarget.response).count;
        counter.innerHTML = newCount;
      });
      request.open('POST', '/increment');
      request.send();
      play();
    })
  </script>

<audio id="audio" src="https://www.parliament.uk/audio/images/bigben-images/hourlychimebeg.mp3" ></audio>
</body>

</html>
